.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .navigate {
    display: flex;
    justify-content: space-between;
    width: 300px; /* Điều chỉnh chiều rộng của thanh navigate tại đây */
    margin-bottom: 20px;
  }
  
  .button {
    width: 100px; /* Điều chỉnh chiều rộng của nút tại đây */
  }