/* Đặt thuộc tính cho body để căn giữa toàn bộ nội dung */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* Đặt thuộc tính cho container chính */
.mct-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Đặt thuộc tính cho khối chứa video */
.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

video {
  width: 450px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}